/*=========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*===========================*/

main, form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  max-width: 400px;
}

input, button, form {
  width: 100%;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

button {
  margin-bottom: 1rem;
  cursor: pointer;
}